

<div class="container" id="navid">
<nav class="navbar">
  <a class="navbar-brand"> <img src="/assets/images/Logo.png" alt="logo"> Eshop</a>
  <form class="form-inline">
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button> -->
    <h3>Login</h3>
  </form>
</nav>
</div>

<div id="navidphone" style="display:none; padding-left: 74px;background-color:#00A69C;width:100%">
  <nav class="navbar">
    <a class="navbar-brand" style="color:white"> <img src="/assets/images/Logo.png" alt="logo"> Eshop</a>
    <form class="form-inline">
        <i class="fa fa-gear" style="font-size:35px;padding-right: 74px;color:white"></i>
    </form>
  </nav>
  </div>
