



<nav class="navbar" style="background-color:#00A69C;width:102%">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <mat-form-field appearance="fill">
                  <mat-label>Brand</mat-label>
                  <select matNativeControl required>
                    <option value="volvo">All</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select> 
                </mat-form-field>
          </div>
          <div class="col-md-4" >
              <mat-form-field appearance="fill">
                  <mat-label> choose </mat-label>
                  <select matNativeControl required>
                    <option value="volvo">All</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select> 
                </mat-form-field>
            </div>
        </div>
  </div>
</nav>

<nav id="navPhone" style="background-color:#0FF040;width:102%;display:none">
  <h1>Fliters</h1>
</nav>